[Unit]
Description=curytybainboxweb
Requires=curytybainboxd.service
After=curytybainboxd.service

[Service]
EnvironmentFile=/etc/curytybainbox/environment
Restart=always
ExecStart=/usr/bin/curytybainboxweb

[Install]
WantedBy=multi-user.target
